<div class="image-wrapper">
  <div class="image _1up">
    <img src="./images/1x1.jpg" />
  </div>
</div>
<div class="image-wrapper">
  <div class="image _3up">
    <img src="./images/3x3-1.jpg" />
  </div>
  <div class="image _3up">
    <img src="./images/3x3-2.jpg" />
  </div>
  <div class="image _3up">
    <img src="./images/3x3-3.jpg" />
  </div>
</div>
<div class="image-wrapper">
  <div class="image _2up-vertical">
    <img src="./images/2x2v-1.jpg" />
  </div>
  <div class="image _2up-vertical">
    <img src="./images/2x1v-2.jpg" />
  </div>
</div>
<div class="image-wrapper">
  <div class="image _2up-horizontal">
    <img src="./images/4x4-1.jpg" />
  </div>
  <div class="image _2up-horizontal">
    <img src="./images/4x4-2.jpg" />
  </div>
</div>
<div class="image-wrapper">
  <div class="image _2up-horizontal">
    <img src="./images/4x4-3.jpg" />
  </div>
  <div class="image _2up-horizontal">
    <img src="./images/4x4-4.jpg" />
  </div>
</div>
