<div class="image-wrapper">
  <div class="_2up-horizontal">
    <img src="./images/2-outside-transition/01-2up-h-2556.jpg" class="image"/>
  </div>
  <div class="_2up-horizontal">
    <img src="./images/2-outside-transition/02-2up-h-2665.jpg" class="image"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-horizontal">
    <img src="./images/2-outside-transition/03-2up-h-5757.jpg" class="image"/>
  </div>
  <div class="_2up-horizontal">
    <img src="./images/2-outside-transition/04-2up-h-2642.jpg" class="image"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="./images/2-outside-transition/05-2up-v-2635.jpg" class="image"/>
  </div>
  <div class="_2up-vertical">
    <img src="./images/2-outside-transition/06-2up-v-2576.jpg" class="image"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="./images/2-outside-transition/07-2up-v-2881.jpg" class="image"/>
  </div>
  <div class="_2up-vertical">
    <img src="./images/2-outside-transition/08-2up-v-5751.jpg" class="image"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_3up">
    <img src="./images/2-outside-transition/09-3up-5900.jpg" class="image"/>
  </div>
  <div class="_3up">
    <img src="./images/2-outside-transition/10-3up-5895.jpg" class="image"/>
  </div>
  <div class="_3up">
    <img src="./images/2-outside-transition/11-3up-5891.jpg" class="image"/>
  </div>
</div>
