<div class="image-wrapper ">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/01-1up-2671.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/02-1up-2690.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-left-horizontal">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/03-2up-lh-2678.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/04-2up-rv-2687.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/05-1up-2700.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-left-horizontal">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/06-2up-lh-2707.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/07-2up-rv-2709.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/08-1up-2711.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/09-1up-2760.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/10-1up-2730.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/11-2up-lv-2771.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/12-2up-rv-2758.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/13-1up-2743.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/14-1up-2780.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/15-2up-lv-2778.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/16-2up-rv-2794.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/17-1up-2806.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/18-1up-2833.jpg" class="image image-animate full-width"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/19-2up-lv-2841.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/20-2up-rv-2843.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper">
  <div class="_2up-left-vertical">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/21-2up-lh-2848.jpg" class="image image-animate"/>
  </div>
  <div class="_2up-right-horizontal">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/22-2up-rv-2857.jpg" class="image image-animate"/>
  </div>
</div>
<div class="image-wrapper ">
  <div class="_1up">
    <img src="https://s3-us-west-2.amazonaws.com/barlee-2016/3-ceremony/23-1up-2858.jpg" class="image image-animate"/>
  </div>
</div>
