.header {
  background-color: rgb(200, 200, 200);

  .header-content {
    text-align: center;
  }
}

.main-content {
  min-width: $small-screen;
  display: inline-block;
  width: 100%;

  // @include outer-container;
  @include media($small-up) {
    margin: 1rem;
  }

  .header,
  .index,
  .footer {
    @include span-columns(12);
  }
}

.footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background-color: rgb(100, 100, 100);

  .footer-content {
    text-align: center;
    margin: 0;
  }
}
