.gallery {
  margin: 1rem;

  .image-wrapper {
    @include outer-container;
  }

  .image-set-end {
    margin-bottom: 30px;
  }

  .image {
    margin-bottom: 1rem;
  }

  .full-width {
    width: 100%;
  }

  ._1up {
    @include media($small-up) {
      @include span-columns(12);
    }
  }

  ._2up-horizontal,
  ._2up-vertical {
    @include media($large-mobile-up) {
      @include span-columns(6);
    }
  }

  ._2up-left-vertical {
    @include media($large-mobile-up) {
      @include span-columns(4);
    }
  }

  ._2up-right-horizontal {
    @include media($large-mobile-up) {
      @include span-columns(8);
    }
  }

  ._2up-left-horizontal {
    @include media($large-mobile-up) {
      @include span-columns(8);
    }
  }

  ._2up-right-vertical {
    @include media($large-mobile-up) {
      @include span-columns(4);
    }
  }

  ._3up {
    @include media($large-mobile-up) {
      @include span-columns(4);
    }
  }
}
